{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloder start -->
    <div id="preloader">
      <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!-- Preloder start -->

    <!-- Offcanvas area start -->
    {% include 'include/mobile_header.html' %}
    <!-- Offcanvas area start -->

    <!-- Body Wrap - Start -->
    <div class="page_wrapper">

      <!-- Site Header - Start
      ================================================== -->
      {% include 'include/header.html' %}
      <!-- Site Header - End
      ================================================== -->

      <!-- Main Body - Start
      ================================================== -->
      <main class="page_content">

        <!-- Hero Banner Section - Start
        ================================================== -->
        <section class="hero_banner_section style_1 decoration_wrap">
          <div class="container decoration_wrap">
            <div class="row align-items-center">
              <div class="col col-lg-6 order-last">
                <div class="hero_banner_image decoration_wrap">
                  <img class="banner_main_1" src="{% static 'assets/images/banner/hero_banner_image_1.png' %}" alt=" Illustration Image">
                  <div class="deco_item shape_3"></div>
                  <div class="deco_item shape_4 wow rotateInDownRight" data-wow-delay=".2s">
                    <img src="{% static 'assets/images/shapes/shape_circle_half_1.svg' %}" data-parallax='{"y" : 200, "smoothness": 10}' alt=" Shape Image">
                  </div>
                  <div class="deco_item shape_5 wow zoomIn" data-wow-delay=".3s">
                    <img src="{% static 'assets/images/shapes/shape_circle_2.svg' %}" alt="Shape Image">
                  </div>
                  <div class="deco_item shape_6">
                    <img src="{% static 'assets/images/shapes/shape_circle_half_2.svg' %}" alt="Shape Image">
                  </div>
                </div>
              </div>
              <div class="col col-lg-6">
                <div class="hero_banner_content mb-5 mb-lg-0">
                  <div class="section_heading">
                    <h2 class="heading_subtitle text-uppercase">
                      <span class="double_icon">
                        <i class="fas fa-sharp fa-square-full"></i>
                        <i class="fas fa-sharp fa-square-full"></i>
                      </span>
                      <span>{{ setting.title }}</span>
                    </h2>
                    <h3 class="heading_title">
                      Частная школа <span><img class="focus_text" src="{% static 'assets/images/shapes/shape_line.svg' %}" alt=""> {{ setting.title }}</span>
                    </h3>
                    <p class="heading_description mb-0">
                      {{ setting.description }}
                    </p>
                    <!-- {% for phone in phones %}
                    <p class="heading_description mb-0">
                      {{ phone.phone }}
                    </p>
                    {% endfor %} -->
                  </div>
                  <ul class="btns_group unordered_list">
                    <li>
                      <a href="{% url 'client_form' %}" class="bd-btn-link btn_primary">
                        <span class="bd-button-content-wrapper">
                           <span class="bd-button-icon">
                            <i class="fa-light fa-arrow-right-long"></i>
                           </span>
                           <span class="pd-animation-flip">
                              <span class="bd-btn-anim-wrapp">
                                 <span class="bd-button-text">Записаться</span>
                                 <span class="bd-button-text">Записаться</span>
                              </span>
                           </span> 
                        </span>
                     </a>
                    </li>
                    <li>
                      <a href="{% url 'about' %}" class="bd-btn-link outline-dark">
                        <span class="bd-button-content-wrapper">
                           <span class="bd-button-icon">
                            <i class="fa-light fa-arrow-right-long"></i>
                           </span>
                           <span class="pd-animation-flip">
                              <span class="bd-btn-anim-wrapp">
                                 <span class="bd-button-text">Узнать подробнее</span>
                                 <span class="bd-button-text">Узнать подробнее</span>
                              </span>
                           </span> 
                        </span>
                     </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="deco_item shape_2"></div>
          </div>
          <div class="deco_item shape_1"></div>
        </section>
        <!-- Hero Banner Section - End
        ================================================== -->

        <!-- Client Logo Section - Start
        ================================================== -->
        <!-- <div class="client_logo_section">
          <div class="container">
            <div class="client_logo_boxed">
              <div class="client_logo_item">
                <img src="{% static 'assets/images/clients/client_logo_1.png' %}" alt="Client Logo">
              </div>
              <div class="client_logo_item">
                <img src="{% static 'assets/images/clients/client_logo_2.png' %}" alt="Client Logo">
              </div>
              <div class="client_logo_item">
                <img src="{% static 'assets/images/clients/client_logo_3.png' %}" alt="Client Logo">
              </div>
              <div class="client_logo_item">
                <img src="{% static 'assets/images/clients/client_logo_4.png' %}" alt="Client Logo">
              </div>
              <div class="client_logo_item">
                <img src="{% static 'assets/images/clients/client_logo_5.png' %}" alt="Client Logo">
              </div>
            </div>
          </div>
        </div> -->
        <!-- Client Logo Section - End
        ================================================== -->

        <!-- About Section - Start
        ================================================== -->
        <section class="about_section section_space_lg decoration_wrap bg_gradient_light">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-6 order-last order-lg-first">
                <div class="about_image decoration_wrap text-center">
                  <img class="amin-up-down" src="{% static 'assets/images/about/about_image_1.png' %}" alt="About Image">
                </div>
              </div>
              <div class="col col-lg-6">
                <div class="about_content mb-4 mb-lg-0">
                  <div class="section_heading">
                  <h2 class="heading_subtitle text-uppercase">
                      <span class="double_icon">
                        <i class="fas fa-sharp fa-square-full"></i>
                        <i class="fas fa-sharp fa-square-full"></i>
                      </span>
                      <span>О школе</span>
                    </h2>
                    <h3 class="heading_title">
                      О школе {{ setting.title }}
                    </h3>
                    <p class="heading_description mb-0">
                      {{ about.description }}
                    </p>
                  </div>
                  <div class="about_list_boxed">
                    <ul class="icon_list unordered_list_block">
                      {% for benefit in index_benefits_one %}
                      <li>
                        <span class="list_item_icon">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="list_item_text">{{benefit.title}}</span>
                      </li>
                      {% endfor %}
                    </ul>
                    <ul class="icon_list unordered_list_block">
                      {% for benefit in index_benefits_two %}
                      <li>
                        <span class="list_item_icon">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="list_item_text">{{ benefit.title }}</span>
                      </li>
                      {% endfor %}
                  </ul>
                  </div>
                  <div class="btn_wrap pb-0">
                    <ul class="btns_group unordered_list">
                      <li>
                        <a href="{% url 'about' %}" class="bd-btn-link btn_primary">
                          <span class="bd-button-content-wrapper">
                             <span class="bd-button-icon">
                              <i class="fa-light fa-arrow-right-long"></i>
                             </span>
                             <span class="pd-animation-flip">
                                <span class="bd-btn-anim-wrapp">
                                   <span class="bd-button-text">Узнать подробнее</span>
                                   <span class="bd-button-text">Узнать подробнее</span>
                                </span>
                             </span> 
                          </span>
                       </a>
                      </li>
                      <li>
                        <a class="video_play_btn popup_video" href="https://www.youtube.com/watch?v=2dKjg0SOW14" data-cursor="-exclusion -lg" data-cursor-stick="#intro_vbtn">
                          <span id="intro_vbtn" class="icon_wrap">
                            <i class="fas fa-play"></i>
                          </span>
                          <span class="btn_text">Посмотреть видео</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="deco_item shape_2">
            <img src="{% static 'assets/images/shapes/shape_circle_half_3.svg' %}" alt="Shape Image">
          </div>
        </section>
        <!-- About Section - End
        ================================================== -->

        <!-- Service Section - Start
        ================================================== -->
        <section class="service_section section_space_lg">
          <div class="container">
            <div class="section_heading text-center">
              <h2 class="heading_subtitle text-uppercase">
                <span class="double_icon">
                  <i class="fas fa-sharp fa-square-full"></i>
                  <i class="fas fa-sharp fa-square-full"></i>
                </span>
                <span>{{ setting.title }}</span>
              </h2>
              <h3 class="heading_title mb-0">
                Наши преимущества
              </h3>
            </div>

            <div class="services_carousel">
              <div class="row common_carousel_3col" data-slick='{"arrows": false, "autoplay:": false}'>
                {% for benefit in benefits %}
                <div class="col carousel_item">
                  <div class="service_item style_1">
                    
                    <div class="item_content">
                      <h3 class="item_title">
                        {{ benefit.title }}
                      </h3>
                      <p class="item_description mb-0">
                        {{ benefit.description }}
                      </p>
                    </div>
                    
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            
          </div>
        </section>
        <!-- Service Section - End
        ================================================== -->

        <!-- Portfolio Section - Start
        ================================================== -->
        <section class="portfolio_section section_space_lg bg_light">
          <div class="container">
            <div class="section_heading">
              <div class="row align-items-end">
                <div class="col col-lg-6">
                  <h2 class="heading_subtitle text-uppercase">
                    <span class="double_icon">
                      <i class="fas fa-sharp fa-square-full"></i>
                      <i class="fas fa-sharp fa-square-full"></i>
                    </span>
                    <span>{{ setting.title }}</span>
                  </h2>
                  <h3 class="heading_title mb-0">
                    Наша галерея
                  </h3>
                </div>
                <div class="col col-lg-6 d-none d-lg-block text-lg-end">
                  <a href="{% url 'client_form' %}" class="bd-btn-link btn_primary">
                    <span class="bd-button-content-wrapper">
                       <span class="bd-button-icon">
                        <i class="fa-light fa-arrow-right-long"></i>
                       </span>
                       <span class="pd-animation-flip">
                          <span class="bd-btn-anim-wrapp">
                             <span class="bd-button-text">Записаться</span>
                             <span class="bd-button-text">Записаться</span>
                          </span>
                       </span> 
                    </span>
                 </a>
                </div>
              </div>
            </div>

            <div class="portfolio_carousel">
              <div class="common_carousel_centered">
                {% for image in gallery %}
                <div class="carousel_item">
                  <div class="portfolio_item layout_fullimage">
                    <div class="item_image">
                      <a href="{% url 'index' %}">
                        <img src="{{ image.image.url }}" alt=" Portfolio Image">
                      </a>
                    </div>
                    <div class="item_content">
                      <ul class="category_list unordered_list">
                        <li><a href="{% url 'index' %}">{{ setting.title }}</a></li>
                      </ul>
                      <h3 class="item_title mb-0">
                        <a href="{% url 'index' %}">
                          Наша школа
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
          </div>
        </section>
        <!-- Portfolio Section - End
        ================================================== -->

        <!-- Review Section - Start
        ================================================== -->
        <section class="review_section section_space_lg bg_dark_3">
          <div class="container">
            <div class="section_heading text-center text-white">
              <h2 class="heading_subtitle text-uppercase">
                <span class="double_icon">
                  <i class="fas fa-sharp fa-square-full"></i>
                  <i class="fas fa-sharp fa-square-full"></i>
                </span>
                <span>{{ setting.title }}</span>
              </h2>
              <h3 class="heading_title mb-0">
                Отзывы
              </h3>
            </div>

            <div class="review_carousel text-white">
              <div class="row common_carousel_3col" data-slick='{"arrows": false}'>
                {% for review in reviews %}
                <div class="col carousel_item">
                  <div class="review_item style_1">
                    <div class="content_area">
                      <p class="review_content">
                        {{ review.text }}
                      </p>
                      <ul class="rating_star unordered_list">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                      <span class="quote_icon">
                        <img src="{% static 'assets/images/icons/icon_quote_white.svg' %}" alt=" Icon Quote">
                      </span>
                    </div>
                    <div class="admin_item">
                      <div class="admin_thumbnail">
                        <img src="{{ review.image.url }}" alt="Admin Avatar">
                      </div>
                      <div class="admin_info">
                        <h3 class="admin_name">{{ review.name }}</h3>
                        <span class="admin_designation">{{ review.position }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <!-- Review Section - End
        ================================================== -->

        <!-- Blog Section - Start
        ================================================== -->
        <section class="blog_section section_space_lg">
          <div class="container">

            <div class="section_heading text-center">
              <h2 class="heading_subtitle text-uppercase">
                <span class="double_icon">
                  <i class="fas fa-sharp fa-square-full"></i>
                  <i class="fas fa-sharp fa-square-full"></i>
                </span>
                <span>Instagram</span>
              </h2>
              <h3 class="heading_title mb-0">
                Наш инстаграм
              </h3>
            </div>

            <div class="row justify-content-center">
              
                <iframe src="http://instagram.com/erudite_isit/embed" width="1200" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              
            </div>
            <div class="btn_wrap pb-0 text-center">
              <a href="blog.html" class="bd-btn-link outline-dark">
                <span class="bd-button-content-wrapper">
                   <span class="bd-button-icon">
                    <i class="fa-light fa-arrow-right-long"></i>
                   </span>
                   <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                         <span class="bd-button-text">Перейти в инстаграм</span>
                         <span class="bd-button-text">Перейти в инстаграм</span>
                      </span>
                   </span> 
                </span>
             </a>
            </div>
          </div>
        </section>
        <!-- Blog Section - End
        ================================================== -->

        <!-- Calltoaction Section - start
        ================================================== -->
        {% include 'include/client_form.html' %}       
        <!-- Calltoaction Section - start
        ================================================== -->

      </main>
      <!-- Main Body - End
      ================================================== -->

      <!-- Site Footer - Start
      ================================================== -->
      {% include 'include/footer.html' %}
      <!-- Site Footer - End
      ================================================== -->

    </div>
    <!-- Body Wrap - End -->

{% endblock %}